.bg-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  display: none;
}
#paginate-home ul.pagination {
    margin: 0;
}
article {
    width: 250px;
    min-height: 400px;
    padding: 10px;
    padding-top: 20px;
    border-radius: 10px;
}
.title_item_home {
    color: #FFFFFF;
    min-height: 100px;
    opacity: 0.95;
    border-radius: 10px;
    background: #499bea;
    background: -moz-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -ms-linear-gradient(-45deg, #499bea 0%, #798eea 100%);
    background: -webkit-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: -o-linear-gradient(315deg, #499bea 0%, #798eea 100%);
    background: linear-gradient(135deg, #499bea 0%, #798eea 100%);
}
.margin_home {

}
.colorlib-logo {
    position: fixed;
}
.container-land-home {
    margin-top: 0;
}
.colorlib-blog {
    padding-top: 15px;
    padding-bottom: 20%;
}
.owl-stage {
    transition: unset;
}
.modal-content{
  width: 500px;
  height: 300px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.detail-modal{
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  z-index: 999;
  display: none;
}
.detail-content{
  width: 1200px;
  height: 700px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: relative;
}
.model {
  border: 1px solid #eee;
  width: 365px;
  min-height: 20px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  margin-right: 10px;
  border-radius: 10px;
  background-color: #c1c8e4;
}
#sortable1, #sortable2, #sortable3 {
  border: 0px solid #eee;
  background-color: #c1c8e4;
  width: 360px;
  min-height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 5px 0 0 0;
  float: left;
  border-radius: 10px;
  overflow: auto;
}
#sortable1 li:hover, #sortable2 li:hover, #sortable3 li:hover {
  background-color: #d0dae2;
}
#sortable1 li, #sortable2 li, #sortable3 li {
  background-color: #FFFFFF;
  margin: 0 5px 5px 5px;
  padding: 5px;
  font-size: 1.2em;
  width: 340px;
  border: 1px solid #eee;
  border-radius: 6px;
  transition: all 0.2s;
  -moz-animation: all 0.2s;
  -webkit-animation: all 0s;
}
#sortable1 li p, #sortable2 li p, #sortable3 li p{
    display: block;
    margin-block-start: 0px;
    margin-block-end: 0px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.art-h2 {
    font-weight: 700;
    margin-bottom: 15px;
    border: 2px solid #eee;
    border-radius: 10px;
    text-align: center;
    color: #FFFFFF;
    background-color: rgba(50, 142, 234, 0.84);
}
.badges {
    float: left;
    cursor: default;
    display: inline-block;
    margin: 0 4px 4px 0;
    max-width: 70%;
    min-height: 30px;
    overflow: hidden;
    position: relative;
    padding: 2px;
    text-decoration: none;
    text-overflow: ellipsis;
}
.badge.is-due-past {
    background-color: #2669ea;
    border-radius: 4px;
    color: #fff;
}
.badge-text {
    font-size: 14px;
    padding: 0 4px 0 2px;
    vertical-align: top;
    white-space: nowrap;
}
.badge-text2 {
    background-color: #0c5460;
    font-size: 15px;
    font-weight: 900;
    vertical-align: top;
    white-space: nowrap;
    border-radius: 4px;
    color: #FFFFFF;
}
.member-initials {
    height: 28px;
    line-height: 28px;
    width: 28px;
    display: block;
    font-size: 14px;
    font-weight: 900;
    left: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: 0;
}
.list-card-members .member{
    float: right;
    margin: 0 -2px 0 0;
    background-color: transparent;
    border-radius: 0px;
    cursor: pointer;
    max-width: 300px;
    min-height: 20px;
    position: relative;
    text-decoration: none;
    z-index: 0;
}
.member {
    background-color: #dfe1e6;
    border-radius: 25em;
    color: #172b4d;
    cursor: pointer;
    display: block;
    float: left;
    height: 32px;
    margin: 0 4px 4px 0;
    overflow: visible;
    position: relative;
    width: 60px;
    text-decoration: none;
    user-select: none;
    z-index: 0;
}
dialog {
    border-radius: 10px;
    border: 0px solid #eee;
}
.hidden_dis {
    box-shadow: none;
    border: 1px solid #f0f0f0;
    font-size: 16px !important;
    font-weight: 300;
    background: white;
    border-radius: 0px;
    display: block;
    width: 100%;
    padding: 10px 20px;
    line-height: 1.42857;
    color: #555555;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.delete_task {
    background: indianred;
    color: #fff;
    border: 0px solid indianred;
    margin-right: 4px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 400;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding: 8px 20px;
}
#customers {
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr{background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #8860d0;
    color: white;
}
a {
    cursor: pointer;
}
li {
    cursor: pointer;
}
.btn-primary {
    background: rgba(12, 84, 185, 0.72);
    color: #fff;
    border: 1px solid rgba(12, 84, 185, 0.72);
}
.btn-primary.btn-outline {
    background: transparent;
    color: rgba(12, 84, 185, 0.72);
    border: 1px solid rgba(12, 84, 185, 0.72);
}
#colorlib-contact1, .colorlib-blog1 {
    padding: 0em 0;
    width: fit-content;
}
.owl-theme .owl-dots .owl-dot span {
    width:30px;
    height:30px;
}
/*loading icon*/
.animationload {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}
.osahanloading {
    animation: 1.5s linear 0s normal none infinite running osahanloading;
    background: #9c814e none repeat scroll 0 0;
    border-radius: 50px;
    height: 50px;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: absolute;
    top: 50%;
    width: 50px;
}

.osahanloading::after {
    animation: 1.5s linear 0s normal none infinite running osahanloading_after;
    border-color: #a239b1 transparent;
    border-radius: 80px;
    border-style: solid;
    border-width: 10px;
    content: "";
    left: -25px;
    position: absolute;
    top: -26px;
    width: 80px;
}

@keyframes osahanloading {
    0% {
        transform: rotate(0deg);
    }
    50% {
        background: #85d6de none repeat scroll 0 0;
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*other loading spinner*/
/* Meat and potatoes */
.drops {
    top: 50%;
    list-style: none;
    position: fixed;
    z-index: 10000;
    left: 45%;
    height: 10px;
    width: 140px;
    margin: 0 auto; /* center the animation */
    margin-top: 40px; /* padd the top from the text */
}
.drops li {
    background-color: #FFFFFF;
    box-shadow:  0 0 5px #99afff,
    0 0 10px #99afff,
    0 0 15px #99afff,
    0 0 20px #99afff,
    0 0 30px #99afff,
    0 0 40px #99afff;
    position: absolute;
    top: 50%;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    margin-left: -3000px; /* the dots like to jump out of place without this */
    animation-name: loading;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.drops li:nth-child(1) {
    left: 0px;
    animation-delay: 0ms;
}
.drops li:nth-child(2) {
    left: 40px;
    animation-delay: 250ms;
}
.drops li:nth-child(3) {
    left: 80px;
    animation-delay: 500ms;
}
.drops li:nth-child(4) {
    left: 120px;
    animation-delay: 750ms;
}
.drops li:nth-child(5) {
    left: 160px;
    animation-delay: 1s;
}
@keyframes loading {
    0% { margin-left: -3000px; }
    30%,70% { margin-left: 0px; }
    100% { margin-left: 3000px; }
}
/* Colours */
#blue:checked ~ .drops li {
    background-color: #99deff;
    box-shadow:  0 0 5px #99afff,
    0 0 10px #99afff,
    0 0 15px #99afff,
    0 0 20px #99afff,
    0 0 30px #99afff,
    0 0 40px #99afff;
}
#green:checked ~ .drops li {
    background-color: #99ffde;
    box-shadow:  0 0 5px #99ffaf,
    0 0 10px #99ffaf,
    0 0 15px #99ffaf,
    0 0 20px #99ffaf,
    0 0 30px #99ffaf,
    0 0 40px #99ffaf;
}
#page{
    height: available;
    background-image: url("../images/23 - i0bakoK.jpg");
    background-size: cover;
}
.menu {
    -webkit-filter: url("#shadowed-goo");
    filter: url("#shadowed-goo");
}

.menu-item, .menu-open-button {
    background: #8860d0;
    border-radius: 100%;
    width: 55px;
    height: 55px;
    margin-left: -40px;
    position: absolute;
    top: 20px;
    color: white;
    text-align: center;
    line-height: 55px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform ease-out 200ms;
    transition: -webkit-transform ease-out 200ms;
    transition: transform ease-out 200ms;
    transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
    -webkit-transform: translate3d(0, -8px, 0);
    transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.hamburger-3 {
    -webkit-transform: translate3d(0, 8px, 0);
    transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
    transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
    transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
    transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
    position: absolute;
    left: 50%;
    margin-left: -190px;
    padding-top: 20px;
    padding-left: 190px;
    width: 380px;
    height: 200px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item:hover {
    background: white;
    color: #ff4081;
}

.menu-item:nth-child(3) {
    -webkit-transition-duration: 70ms;
    transition-duration: 70ms;
}

.menu-item:nth-child(4) {
    -webkit-transition-duration: 130ms;
    transition-duration: 130ms;
}

.menu-item:nth-child(5) {
    -webkit-transition-duration: 190ms;
    transition-duration: 190ms;
}

.menu-item:nth-child(6) {
    -webkit-transition-duration: 250ms;
    transition-duration: 250ms;
}

.menu-item:nth-child(7) {
    -webkit-transition-duration: 310ms;
    transition-duration: 310ms;
}

.menu-open-button {
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    transform: scale(1.1, 1.1) translate3d(0, 0, 0);
    cursor: pointer;
}

.menu-open-button:hover {
    -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
    -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
    transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
    -webkit-transition-duration: 160ms;
    transition-duration: 160ms;
    -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
    transform: translate3d(114.42548px, 11.48084px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    -webkit-transition-duration: 240ms;
    transition-duration: 240ms;
    -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
    transform: translate3d(77.18543px, 85.2491px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    -webkit-transition-duration: 320ms;
    transition-duration: 320ms;
    -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
    transform: translate3d(0.09158px, 114.99996px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
    -webkit-transition-duration: 400ms;
    transition-duration: 400ms;
    -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
    transform: translate3d(-77.04956px, 85.37192px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
    -webkit-transition-duration: 480ms;
    transition-duration: 480ms;
    -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
    transform: translate3d(-114.40705px, 11.66307px, 0);
}
/*# sourceMappingURL=addscss.css.map */
